/* Empty. Add your own CSS if you like */
.bar.bar-stables {
    background-color: #C6C6C6;
    color: #f4f4f4;
}
#negro{
    background-color: #696870;
    color: #f4f4f4;
}
#naranja
{
    background-color: #FE7701;
    color: #FE7701;
}